{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var display = url.split("=")[1];
    var socket = new WebSocket('wss:sockets--906870065650856.codeanyapp.com/ws/draw');
// triggered when receiving a message from the server
socket.onmessage = function(receivedMessage) {
  var datas =receivedMessage.data.split(";");
  color_in = datas[1]
  if (display == "large"){
  path = new paper.Path(datas[0]);
  path.strokeColor = color_in;
  
  }
  if (color_in == color[0]){
    color.shift();
  }
  
	// do something when you receive a message
};

// use when sending a message to the server
// to be broadcasted to all clients, please add a delay
// var t=setTimeout(function(){socket.send("emmm")},1000);


// notify console if socket closes unexpectedly
socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

var path;
var color = ["red","green","blue","yellow","orange"]
var mycolor = null;
var color_num = 0;
var detect_interval = 0;
var clean_interval = 0; 
function clean(){  
  var cxt=canvas.getContext("2d");
  cxt.clearRect(0,0,canvas.width,canvas.height);
}  
// Only execute onMouseDrag when the mouse
// has moved at least 10 points:
tool.minDistance = 10;

tool.onMouseDown = function(event) {
    // Create a new path every time the mouse is clicked
    path = new paper.Path();
    path.add(event.point);
    if(mycolor == null){
      mycolor = color.shift();
    }
    path.strokeColor = mycolor;
}

tool.onMouseDrag = function(event) {
    // Add a point to the path every time the mouse is dragged
    path.add(event.point);
}

tool.onMouseUp = function(event){
  socket.send(path.pathData + ";" + mycolor)
}
window.addEventListener("deviceorientation",(event) => {
  if (event.gamma > 15 && detect_interval == 0){
    if (color_num < color.length - 1){
      color_num = color_num + 1;
    }
    else{
      color_num = 0;
    }
    path.strokeColor = color[color_num];
    detect_interval = 1;
    setTimeout(function(){detect_interval = 0;},800);
  }
},false);
  
window.addEventListener("devicemotion",(event)=>{
  if(event.acceleration.y < -9 || event.acceleration.y > 9 && clean_interval == 0){
    clean_interval = 1;
    clean();
    setTimeout(function(){clean_interval = 0;},800);
  };
})
</script>
</html>


